.card_main {
  border-radius: 15px;
  /* height: 400px; */
  width: 266px;
}
/* for minimal card component */
.card_main_minimal {
  border-radius: 15px;
  /* height: 400px; */
  width: 100%;
}
.card_main:hover {
  border: 1px solid grey;
}
.card_top {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 80%;
  width: 100%;
  overflow: hidden;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.right_controls {
  filter: blur(1px);
  -webkit-filter: blur(1px);
}
.btn-outline-primary {
  border: 2px solid #326dcb;
}
.btn-outline-primary:hover {
  background-color: #326dcb;
}
.icon_white {
  color: white;
}
.icon_white:hover {
  color: #326dcb;
  cursor: pointer;
}
