.left_section {
  background: linear-gradient(
    0deg,
    rgba(17, 14, 12, 1) 0%,
    rgba(182, 113, 12, 0.7731481481481481) 100%
  );
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  opacity: 0.9;
}
.right_section {
  background: linear-gradient(
    0deg,
    rgba(17, 14, 12, 1) 0%,
    rgba(182, 113, 12, 0.7731481481481481) 100%
  );
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  opacity: 0.9;
}
.element_style {
  margin-left: 20px;
  margin-top: 10px;
  color: white;
  font-weight: 580;
  border-bottom: 1px solid rgb(187, 182, 182);
}
.element_style:hover {
  text-decoration: underline;
  cursor: pointer;
}
.first_option:hover {
  cursor: pointer;
  text-decoration: underline;
}
.hide_scrollBar::-webkit-scrollbar {
  display: none;
}
