.service_category_left_section {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.6990740740740741) 0%,
    rgba(14, 0, 212, 0.802784222737819) 100%
  );
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  opacity: 1;
}
.service_category_left_section2 {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.7819025522041764) 0%,
    rgba(2, 174, 13, 1) 100%
  );

  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  opacity: 1;
}
