.right_side_section {
    flex: 0.20;
    text-align: center;
    max-width: 554px;
}
.second_inputs {
    display: flex;
    justify-content: space-around;
}
.second_inputs > input {
    width: 115px;
    border-radius: 20px;
    padding: 10px;
}
@media (max-width: 1080px) {
    .carousel_container {
        flex: 1;
    }
    .right_side_section {
        display: none;
    }
}