
body {
  font-family: "open sans";
}

img {
  max-width: 100%;
}
.card {
  margin-top: 10px;
  background: #eee;
  line-height: 1.5em;
}
.price_section {
  font-size: 18px;
  border-bottom: 1px solid rgb(221, 220, 220);
}
.price {
  color: #0076ad;
  font-size: 30px;
  margin-left: 10px;
  font-weight: 600;
}
.p_style {
  color: #0076ad;
  
}
.p_style:hover {
  cursor: pointer;
  text-decoration: underline;
}
.color_family {
  border-bottom: 1px solid rgb(221, 220, 220);
}
.color_varient {
  display: flex;
}
.color_varient_item {
  margin-left: 10px;
}
.color_option:hover {
  border: 1px solid #0076ad;
}
.quantity_control {
  border: 2px solid grey;
}
.quantity_control:hover {
  cursor: pointer;
  background-color: grey;
}
.size_option {
  margin-left: 10px;
  border: 3px solid grey;
  padding: 5px;
}
.size_option:hover {
  border: 3px solid #0076ad;
  cursor: pointer;
  background-color: grey;
}
.share_icon:hover {
  color: red;
  cursor: pointer;
}
.delivery_address {
  display: flex;
  align-items: center;
  justify-content: start;
  color: rgb(122, 122, 122);
  border-bottom: 1px solid rgb(221, 220, 220);
  padding: 10px;
}
.rating_rate_progress {
  display: flex;
  place-items: center;
  justify-content: space-around;
}
.round {
  border-radius: 7px;
}