.left_side_category {
  max-height: 50vh;
  overflow-y: scroll;
  position: absolute;
  left: 52px;
  border-top: 5px solid white;
  border-bottom: 5px solid white;
}
.category_items {
  display: flex;
  place-items: center;
}
.side_category_dropdown_item {
  z-index: 1000;
}
.dropdown-content_side_category {
  float: right;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
}
.each_category {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.each_category p {
  margin-left: 30px;
}
.each_category:hover {
  cursor: pointer;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
@media (max-width: 650px) {
  .left_side_category {
    display: none;
  }
}
@media (max-width: 768px) {
  .left_side_category {
    height: 40vh;
  }
}
/* @media (max-width: 800px) {
  .left_side_category {
    max-height: 40vh;
  }
} */
