.why_use p {
  border-radius: 5px;
  color: grey;
  padding: 10px;
  text-transform: uppercase;
  background-color: white;
  box-shadow: 10px 10px 8px -9px rgba(0, 0, 0, 0.75);
  width: 25%;
}
.why_us_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 870px) {
  .why_us_bottom {
    display: none;
  }
}
